/* .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.btn {
  margin: auto 10px;
} */
/* .listItem {
  width: 450px;
  text-align: center;
  margin-bottom: 10px;
} */
.enter {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
.enterActive {
  transform: translateX(0);
  opacity: 1;
}

.exit {
  transform: translateX(0);
  opacity: 1;
  transition: all 250ms linear;
}
.exitActive {
  transform: translateX(-50%);
  opacity: 0;
}
